@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalAlign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* app style */
.primary-color{
  color: #4F4F4F;
}

.secondary-color{
  color: #828282;
}

.faded-gray{
  color: #BDBDBD;
}

.bgblue-color{
  background: #2F80ED;
}

.blue-color{
  color: #2F80ED;
}

.faded-blue{
  background: #F6F8FB;
}

.font-sm{
  font-size: 10px;
}

.font-md{
  font-size: 12px;
}

.font-lg{
  font-size: 18px;
}

.pt-10{
  padding-top: 10px;
}

.pt-15{
  padding-top: 15px;
}

.pt-20{
  padding-top: 20px;
}

.taLeft{
  text-align: left;
}

.taRight{
  text-align: right;
}

.taCenter{
  text-align: center;
}

.alignSelfStart{
  align-self: flex-start;
}

/* component styles */
.dropzone{
  width: 338px;
  height: 219px;
  border: 1px dashed #97BEF4;
  border-radius: 12px;
  background: #F6F8FB;
  margin-top: 25px;
  position: relative;
}

.dropzone img{
  height: 88px;
  width: 114px;
}

.inputAlign{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 7px;
  opacity: 0;
  cursor: pointer;
}

.loader-container{
  width:350px;
  height: 6px;
  background: #F2F2F2;
  border-radius: 8px;
  margin-top: 20px;
}

.loader-indicator{
  width: 100px;
  height: 100%;
  background: #2F80ED;
  border-radius: 100px;
  -webkit-animation: spin 0.6s linear infinite; /* Safari */
  animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: translateX(10%); }
  100% { -webkit-transform: translateX(230px); }
}

@keyframes spin {
  0% { transform: translateX(10%); }
  100% { transform: translateX(230px); }
}

.linkStyle{
  width: 338px;
  position: relative;
}

.linkStyle input{
  width: 100%;
  height: 34px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 0 15px;
}

.btnAlign{
  position: absolute;
  right: 3px;
  top: 22px
}